# Shared libraries copied in during build
src/opensolid/*.dll
src/opensolid/*.so

# Jupyter Notebooks, used for ad-hoc testing
*.ipynb

# Generated Python egg-info directories
*.egg-info

# Output directory of 'uv build'
build

# Output directory of auditwheel
wheelhouse
